parameters:
    level: max
    phpVersion:
        min: 80100
        max: 80499
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: parameter.defaultValue
        - identifier: trait.unused
        - identifier: property.onlyWritten

    reportUnmatchedIgnoredErrors: false
