<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
  cacheDirectory=".phpunit.cache"
  colors="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="default">
      <directory suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
